@import "__reset.scss";
@import "__ adaptation.scss";
.block-header{
    @media screen and (max-width: 620px) {
        display: none; 
    }
}
 
.block-search{
    padding: 10px 0 10px 0;
    display: flex;
    background: $BaseColor;
    align-items: center;

    &__logo{
        flex-grow: 10;
        padding: 0 15px;        
        font-size: 23px;
        font-family: 'Kaushan Script', cursive;
        border-radius: 100px/50px;
        cursor: pointer;
    }

    &__search-field{
        flex-grow: 100;
        &--element{
            font-size: 15px;
            padding: 20px;
            width: 700px;
            height: 30px;
            border:none;
            border-radius: 75px/50px;

            @media screen and (max-width: 960px) {
                width: 400px;
            }

            &::placeholder{
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    &__authorization{
        display: flex;
        flex-grow: 1;
        align-items: center;
        padding: 0 15px 0 0;
        cursor: pointer;
        &--name-user{
            font-size: 16px;
            font-family: 'Comic Neue', cursive;
            padding: 0 15px 0 0;
        }

        &--icon-user{
            background-image: url(/images/icon-user.jpg);
            background-size: cover;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            
        }
    }
}

.block-nav{
    background-color: $BackgroundColor;
    margin: 30px 0 20px 0;

    @media screen and (max-width: 960px) {
        display: none;
    }

    &__ul{
        padding: 0;
        list-style: none;
        display: table;
        margin: 0 auto;
        
        li{
            padding: 0 18px;
            float:left;
        }
    }

    &__button{   
        display: flex;
        height: 35px;
        width: 170px;
        border: 1px solid #000;
        background-color: #fff;
        cursor: pointer;
        text-align: start;
        align-items: center;
        outline: none;
        box-sizing: border-box;
        font-family: $BaseFont;
        font-size: 14px;
        
        &:hover{
            background: $BaseColor ;
            color: #fff;
        }
        
        &:hover > i{
            color: #fff;
            text-shadow: 0px 3px 1px #000;
            transform: rotateY(360deg);
        }

        &:active{
            transition-duration: 0.2s;
            transform: translate(3px,2px);
        }

        @media screen and (max-width: 1400px) {
            width: 150px;
            font-size: 13px;
        }

        @media screen and (max-width: 1240px) {
            width: 140px;    
            font-size: 12px;
        }
     
        @media screen and (max-width: 1080px) {
            width: 120px;    
            font-size: 10px;
        
        }

        @media screen and (max-width: 960px) {
      
        }

        
    }
}

.fa-nav{
    transition: 0.7s;
    transform-style: preserve-3d;
    text-align: start;
    padding: 0 5px;
    font-size: 25px;
    color: #585858;

    @media screen and (max-width: 1400px) {
        font-size: 20px;
        padding: 0 3px;
    }

    @media screen and (max-width: 1240px) {
        padding: 0 6px 0 0;
    }

    @media screen and (max-width: 1080px) {
         font-size: 16px;
    }
}

.fa-down{
    font-size: 14px;
    margin: 0 0 0 10px;
}

.fa-input{
    font-size: 19px;
    margin: 0 10px 0 0;
}

.block-body {
    padding: 15px 0 15px 0;
    display: grid;
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (max-width: 1400px) {
       max-width: 1080px;
    }

    @media screen and (max-width: 1240px) {
        max-width: 1020px;
    }
    @media screen and (max-width: 1080px) {
        max-width: 900px;
    }
    @media screen and (max-width: 960px) {
        max-width: 580px;
    }
 
    @media screen and (max-width: 620px) {
        max-width: 620px;
    }
    
        &--main{
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 350px 230px auto;
            gap:15px;
        
            @media screen and (max-width: 960px) {
                grid-template-columns: 230px 350px;
                grid-template-rows: 265px 160px auto;
            }
            @media screen and (max-width: 620px) {
                grid-template-columns: 1fr 2fr;
                grid-template-rows: 220px auto auto auto;
                gap: 0;
            }

        }

        &--message-grid{
            grid-template-columns: 3fr 1fr;
            grid-template-rows: auto;

            @media screen and (max-width: 960px) {
                grid-template-columns: 380px 200px;
            }

        }

        &--friends-grid{
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 0fr 1fr;
        }

        &--fotos-grid{
            grid-template-columns: 1fr;
            grid-template-rows: auto;

        }
        
        &--news-grid{
            grid-template-columns: 3fr 1fr;
            grid-template-rows: auto;
        }

    &__box {
        background-color: #fff;
        border: 1px solid black;

        @media screen and (max-width: 620px) {
            border: none;        
        }
      }

    &__avatar {
        padding:0 0 15px 0;

        &--foto{
            border: 1px solid #000;
            margin: 15px;
            background-image: url(/images/icon-user.jpg);
            background-size: cover;
            background-position: center;
            width: 270px;
            height: 270px;

            @media screen and (max-width: 960px) {
                width: 195px;
                height: 195px;
            }
            @media screen and (max-width: 620px) {
                width: 150px;
                height: 150px;
            }
        }

        &--change{
            width: 100%;
            font-size: 18px;
            color: #dadada;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            cursor: pointer;
            transition: 0.3s;

            @media screen and (max-width: 660px) {
                position: absolute;
                top: 20%;
                left: -33%;
            }

            
            .fa-plus{
                transition: 0.3s;
                font-size: 18px;
                color: #dadada;
            }

            &:hover{
                
                color: #000;
            }
            &:hover > i{
                color: #000000;
            }
        }
        @media screen and (max-width: 620px) {
          
         }
    }
      
    &__information{
        position: relative;
        padding: 15px 0 0 0;

        &--name{
           padding: 0 0 0 15px;
           font-size: 16px;
           font-family: $BaseFont;
           font-weight: 600;
        }

        &--online{
            padding: 0 0 0 30px;
            &>i{
                font-size: 10px;
            }
        }

        &--caption{
            position: relative;
            font-size: 16px;
            padding: 15px 0 0 54px;
            color: #6b6b6b;
             
            @media screen and (max-width: 960px) {
                font-size: 14px;
            }
            @media screen and (max-width: 620px) {
                font-size: 16px;
            }

            &::before{
                content: '';
                position: absolute;
                top: 70%;
                left: 20%;
                height: 2px;
                width: 20%;
                background-color: red;
                transform: translateX(-100%);
                background-color: $BackgroundColor;
            
            }

            &::after{
                content: '';
                position: absolute;
                top: 70%;
                left: 101%;
                height: 2px;
                width: 247%;
                background-color: $BackgroundColor;
            
                @media screen and (max-width: 1400px) {
                    width: 200%;
                }
             
                @media screen and (max-width: 1240px) {
                    width: 176%;
                }

                @media screen and (max-width: 1080px) {
                    width: 128%;
                }

                @media screen and (max-width: 960px) {
                    width: 52%;
                }

            }
        }   

        &--main{
            font-family: $BaseFont;
            font-style: italic;
            padding: 15px 0 0 0;
            &> ul{
                color: #6b6b6b;
                padding: 15px 0 15px 15px;
                margin: 0;
                list-style: none;
                font-size: 16px;

                 
                @media screen and (max-width: 960px) {
                    font-size: 14px;
                    padding: 20px 0 15px 20px;
                }
            }

            &>ul>li{
                padding: 0 0 15px 0 ;
                @media screen and (max-width: 960px) {
                    &:nth-child(n+5){
                       display: none;
                    }
                }
                @media screen and (max-width: 620px) {
                    font-size: 16px;
                    &:nth-child(n+3){
                       display: none;
                    }
                }
            }
        }

        &--about-user{
            font-style: normal;
            color:#000;
        }

        &--more{
            position: absolute;
            bottom: 0;
            border-top: 1px solid #000;
            height: 40px;
            width: 100%;
            background: $BaseColor;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $BaseFont;
            text-transform: uppercase;
            font-size: 18px;
            cursor: pointer;
        

            @media screen and (max-width: 960px) {
                font-size: 15px;
             }

            @media screen and (max-width: 620px) {
                display: none;
            }
        }

        &--detail-mob{
            display: none;
            font-size: 15px;
            font-family: $BaseFont;
            padding: 0 20px;
            cursor: pointer;

            &:active{
                text-shadow: 0px 0px 1px #545454;
            }
            &>span{
                margin: 0 1px;
            }

            @media screen and (max-width: 620px) {
                display: block;
            }
        }

        .fa{
            &-angle-down{
            font-size: 18px;
            color: #000;
            }
            &-info{
                
                font-size: 11px;
                padding: 2px 6px;
                border: 1px solid #000;
                border-radius: 50%;
            }
        }

    }
      
    &__friends {
        
        &-conteiner{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @media screen and (max-width: 620px) {
                display: grid;
                width: 400px;
                margin: 0 auto;
                gap: 10px;
                grid-template-columns: 1fr 1fr 1fr ;
                grid-template-rows: 2fr;
                padding: 10px;
            }
        }
        &--cell{
            margin: 15px;
            display: flex;
            height: 60px;
            width: 60px;
            border: 1px solid #000;
            cursor: pointer;

            @media screen and (max-width: 620px) {
                margin: 0;
                height: 130px;
                width: 130px;
                
            }
        }
        @media screen and (max-width: 620px) {
            grid-row-start: 0;
            grid-row-end: 0;
            grid-column-end: 0;
            grid-column-start: 2 span;
        }
        
    }

    &__fotos{
        
        &-conteiner{
            padding: 15px 0;
            display: flex;
            justify-content: center;

            @media screen and (max-width: 620px) {
                display: grid;
                width: 400px;
                margin: 0 auto;
                gap: 10px;
                grid-template-columns: 1fr 1fr 1fr ;
                grid-template-rows: 1fr;
                padding: 10px;
            }
        }
        &--cell{
            margin: 0 15px;
            width: 150px;
            height: 150px;
            border: 1px solid #000;
            cursor: pointer;

            @media screen and (max-width: 960px) {
                height: 80px;
                width: 80px;
            }
            @media screen and (max-width: 620px) {
                margin: 0;
                height: 150px;
                width: 150px;
            }
        }
        @media screen and (max-width: 620px) {
            grid-row-start: 0;
            grid-row-end: 0;
            grid-column-end: 0;
            grid-column-start: 3 span;
        }
    }

    &__empty{
        @media screen and (max-width: 620px) {
            display: none;
        }
    }

    &__recording-tape{
       
        &--container-input{
            position: relative;
            // white-space: nowrap;
            margin: 0 0 60px 0;
        
            &--icon{
                position: absolute;
                top: 50%;
                transform: translateY(40%);
                z-index: 1;
                color: #4f5b66;
                @media screen and (max-width: 960px) {
                    transform: translateY(50%);
                }
                &:hover>i{
                    transition-duration: 0.1s;
                    color: darken($BackgroundColor,45);
                    cursor: pointer;
                }
                
                &-video{
                    right: 4.5%;
                    @media screen and (max-width: 960px) {
                        right: 6.5%;
                    }
                }

                &-foto{
                    right: 9.5%;
                    @media screen and (max-width: 960px) {
                        right: 13.5%;
                    }
                }
                
                &-send{
                    right: 0%;
                    @media screen and (max-width: 960px) {
                        right: 0%;
                    }
                }

                &-smile{
                    right: 14%;
                    @media screen and (max-width: 960px) {
                        right: 19.5%;
                    }
                }
            }

            &--text{
                width: 100%;
                background: $BackgroundColor;
                border: none;
                font-size: 16px;
                float: left;
                color: darken($BackgroundColor,45);
                padding:0 140px 0 15px;
                resize: none;
                overflow: hidden;
                height: 40px;
                border-bottom: 1px solid #000;
                

                &::placeholder{
                    color: darken($BackgroundColor,30);
                    font-size: 20px;
                    padding:7px 0px 0 0px;

                    @media screen and (max-width: 960px) {
                        padding: 9px 0px 0 0px;
                        font-size: 17.5px;
                    }
                }

                &:focus::-webkit-input-placeholder {
                    color: transparent;
                }
            }
        }

        &--news{
            &--foto{
                padding: 15px 0 0 0;
                width: 100%;
            }
            ul{
                padding: 0;
            }
            
            ul>li{
                list-style: none;
            }
            &--block{
                border: 1px solid #000;
                font-family: $BaseFont;
                font-size: 16px;
                padding: 15px;
                margin: 15px auto 15px auto;
                width: 90%;

                @media screen and (max-width: 960px) {
                    font-size: 14px;
                    width: 80%;
                }
                &:last-child{
                    margin: 0 0 28px 28px;

                    @media screen and (max-width: 960px) {
                        margin: 0 0 28px 20px;
                        font-size: 14px;
                    }
                    @media screen and (max-width: 620px) {
                        margin: 0 0 20px 43px;
                    }
                }
                
            }
        }
            @media screen and (max-width: 620px) {
                grid-row-start:0 ;
                grid-row-end: 0;
                grid-column-end: 0;
                grid-column-start: 3 span;
         }
    } 

    /***************************Message-page*************************/


    &__container-message{
        display: flex;
        margin: 15px;
        padding: 10px;
        border: 1px solid #000;
        position: relative;
        cursor: pointer;

        &:hover{
            background-color: $BackgroundColor;
        }

        &--foto{
            background-image: url(/images/brother.jpg);
            background-size: cover;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            border: 1px solid #000;
        }

        &--name{
            font-size: 16px;
            font-weight: 600;
           
        }

        &--message{
            top: 50%;
        }

        &--new{
            position: absolute;
            height: 100%;
            width: 5px;
            background-color: #ffc90e;
            right: 0;
            top: 0;
            border-left: 1px solid #000;
        }

        &--name,
        &--message{
            position: absolute;
            left:73px;
            font-family: $BaseFont;
        }
    }

    &__variety-message{
        height: 130px;

        &--friends{
            height: 190px;

            @media screen and (max-width: 960px) {
                height: 180px;
            }
        }
        &--select{
            font-family: $BaseFont;
            font-size: 16px;

            
        @media screen and (max-width: 1080px) {
            font-size: 14px;
        }

        @media screen and (max-width: 960px) {
            font-size: 12px;
        }
        }
    }

 /****************************Friend-page************************/         

    
    &__container-friends{
        display: flex;
        margin: 15px;
        padding: 10px;
        border: 1px solid #000;
        position: relative;
        cursor: pointer;
        height: 100px;

        @media screen and (max-width: 1240px) {
            height: 90px;
        }
        @media screen and (max-width: 960px) {
            height: 85px;
        }
        
        &:hover{
            background-color: $BackgroundColor;
        }
        

        &--foto{
            background-image: url(/images/brother.jpg);
            background-size: cover;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            border: 1px solid #000;
            position: absolute;
            top:50%;
            left: 7%;
            transform: translate(-50%, -50%);

            @media screen and (max-width: 1240px) {
                left: 8%;
            }
            @media screen and (max-width: 1080px) {
                left: 9%;
            }
            @media screen and (max-width: 960px) {
                height: 75px;
                width: 75px;
                left: 15%;
            }
        }

        &--name{
            font-size: 18px;
            font-weight: 600;

            @media screen and (max-width: 1240px) {
                font-size: 17px;
            }
            @media screen and (max-width: 1080px) {
                font-size: 16px
            }
        }

        &--city{
            top: 40%;
            font-size: 16px;
            @media screen and (max-width: 1240px) {
                font-size: 15px;
            }
        }

        &--send-message{
            font-size: 14px;
            color: #545454;
            bottom: 0;
            margin: 0 0 10px 0;
            cursor: pointer;
            @media screen and (max-width: 1240px) {
                font-size: 13px;
            }
            &:hover{
                text-shadow: 0px 0px 1px #545454;
            }
        }

        &--name,
        &--city,
        &--send-message{
            position: absolute;
            left: 105px;
            font-family: $BaseFont;
        }
    }

    &__list-friends{
        grid-row-start: 1;
        grid-row-end:3;
        
    }

    &__sort{
        grid-row-start: 2;
        height:200px;

        &--list{
            list-style: none;
            padding: 0 15px;

        } 

        &--categories{
            position: relative;
            margin: 15px;
            font-size: 16px;
            font-family: $BaseFont;
            cursor: pointer;

            @media screen and (max-width: 1240px) {
                font-size: 15px;
            }
        
            &:hover{
                &::before{
                    content: '';
                    position: absolute;
                    height: 25px;
                    left: -10px;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border: 2px solid #ffc90e;
                }
            }
        }
    }

    &__foto-comment,
    &__foto-container,
    &__comment-block{
        background-color: #fff;
        border: 1px solid #000;
    }

    &__comment-block{
        position: relative;
        margin: 20px 50px ;

        &--foto{
            margin: 5px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: url(/images/brother.jpg);
            background-size: cover;
            cursor: pointer;
        
        }

        &--name{
            position: absolute;
            font-size: 16px;
            font-weight: 600;
            font-family: $BaseFont;
            top: 15px;
            left: 60px;
            cursor: pointer;
        }

        &--comment{
            padding: 10px 15px;
            font-size: 15px;
            font-family: $BaseFont;
            border-top: 1px solid #000;
            background-color: $BackgroundColor;
        }
    }

    &__list-news{
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        padding: 15px 15px 30px 15px;

        @media screen and (max-width: 960px) {
            grid-template-columns: 1fr 1fr;
        }

        &--container-news{
            border: 1px solid #000;
            height: 330px;
            cursor: pointer;
            
            @media screen and (max-width: 1240px) {
                height: 300px;
            }
            @media screen and (max-width: 1080px) {
                height: 250px;
            }
            @media screen and (max-width: 960px) {
                height: 200px;
            }
        }
    }

    &__news-filter{
        height: 210px;
    }


    &__games{
        width: 1200px;
        margin: 0 auto;
        border: 1px solid #000 ;
        background-color: #fff;

        
        @media screen and (max-width: 1400px) {
            width: 1080px;
        }
        @media screen and (max-width: 1240px) {
           width: 1020px;
        }
        @media screen and (max-width: 1080px) {
            width: 900px;
        }
        @media screen and (max-width: 960px) {
            width: 580px;
            margin: 15px auto;
        }
    }

    &__list-games{
        margin: 15px 0;

        &--caption{
            margin: 15px 0;
            position: relative;
            font-size: 16px;
            font-family: $BaseFont;
            font-weight: 600;
            text-align: center;
            

            &::before{
                content: '';
                position: absolute;
                height: 2px;
                width: 38%;
                background-color: rgba(0, 0, 0, 0.308);
                top: 50%;
                left: 0%;
                
                @media screen and (max-width: 1080px) {
                    width: 35%;
                }
                @media screen and (max-width: 960px) {
                    width: 28%;
                }
             
            }

            &::after{
                content: '';
                position: absolute;
                height: 2px;
                width: 38%;
                background-color: rgba(0, 0, 0, 0.308);
                top: 50%;
                right: 0%;
            
                @media screen and (max-width: 1080px) {
                    width: 35%;
                }
                @media screen and (max-width: 960px) {
                    width: 28%;
                }
              
            }

            
        }
      
    }
}

.block-games{
    display: flex;
    justify-content: end;

    &__item{
        &--icon{
            margin: 0 15px;
            height: 150px;
            width: 150px;
            border: 1px solid #000;
        }
        &--name{
            font-family: $BaseFont;
            font-size: 14px;
            text-align: center;
            margin: 5px 0 0 0;
        }
    }
}
.block-button{
    display: flex;
    

    &__button-game{
        position: relative;
        left: -1px;
        outline: none;
        box-sizing: border-box;
        font-size: 16px;
        font-family: $BaseFont;
        text-align: start;
        width: 190px;
        height: 30px;
        padding: 0 15px;
        border-radius: 0 0 15px 0;
        border: 1px solid #000;
        border-top: none;
        background-color: #fff;   
        margin: 0;
        cursor: pointer;
        
        &:hover{
            background-color: $BackgroundColor;
        }

        &:last-child{
            left: -2px;
        }
    }

  
}

.wrapper-foto{
    position: relative;
    margin: 20px;
    
    .prev,.next{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        position: absolute;
        top:50%;
        transform: translate(50%, -50%);
        cursor: pointer;
        background-color: #ffcb0e8f;
        
        @media screen and (max-width: 1080px) {
            height: 85px;
            width: 85px;
        }
       

        &:hover{
            background-color: #ffcb0eb0;
        
        }
        &:active{
            background-color: #ffcb0eef;
            transition-duration: 0.3s;
          
        }
    }
  
    .prev{
        right: 102.5%;
        @media screen and (max-width: 960px) {
            right: 50%;
        }
    }

    .next{
        left: 92.5%;
        @media screen and (max-width: 1400px) {
            left: 91.5%;
        }
        @media screen and (max-width: 1240px) {
            left: 90.7%;
        }
        @media screen and (max-width: 1080px) {
            left: 89.2%;
        }

        @media screen and (max-width: 1080px) {
            left: 90.8%;
        }
        @media screen and (max-width: 960px) {
            left: 0%;
        }
    }
    
    .prev::after,
    .prev::before,
    .next::after,
    .next::before{
        content: '';
        display: block;
        position: relative;
        height: 10px;
        width: 40px;
        background-color: #fff;
    
        @media screen and (max-width: 1080px) {
            display: none;
        }
    }
    .prev::after{
        top: 24px;
        left: 25px;
        transform: rotate(-45deg);

        @media screen and (max-width: 1080px) {
            top: 16px;
            left: 19px;
            transform: rotate(-45deg);
        }
    }
    .prev::before{
        top: 56px;
        left: 25px;
        transform: rotate(45deg);

        @media screen and (max-width: 1080px) {
            top: 49px;
            left: 19px;
            transform: rotate(45deg);
        }
    }
    .next::after{
        top: 24px;
        left: 35px;
        transform: rotate(45deg);

        @media screen and (max-width: 1080px) {
            top: 16px;
            left: 29px;
            transform: rotate(45deg);
        }
    }
    .next::before{
        top: 56px;
        left: 35px;
        transform: rotate(-45deg);

        @media screen and (max-width: 1080px) {
            top: 49px;
            left: 29px;
            transform: rotate(-45deg);
        }
    }

    .slider {
        margin: 0 auto;
        max-width: 1000px;
        max-height: 1000px;
        position: relative;
        text-align: center;
        
        @media screen and (max-width: 1400px) {
            max-width: 900px;
            max-height: 900px;
        }
        @media screen and (max-width: 1240px) {
            max-width: 850px;
            max-height: 850px;
        }
        @media screen and (max-width: 1080px) {
            max-width: 750px;
            max-height: 750px;
        }
        @media screen and (max-width: 960px) {
            max-width: 540px;
            
        }

        &__item {
            width: 100%;
            height: 100%; 
            display: block;
            text-align: center;
            

            &-img {
                margin: 0 auto;
                text-align: center;
                width: 100%;
                height: 100%;
                display: block;
                border: 1px solid #000;
                cursor: pointer;
            }
        }
    }

    .slick-track {
        display: flex;
    }
    
    .slick-list {
        overflow: hidden;
    }
}

.block-select{
    border: 1px solid #000;
    padding: 15px;
    margin: 10px;
    position: relative;
    cursor: pointer;

    &:hover{
        background-color: $BackgroundColor;
    }

    &:hover>div{
        background-color: #ffc90e;
        
    }
    &--marker{
        position: absolute;
        height: 100%;
        width: 5px;
        left: 0;
        top: 0;
        border-right: 1px solid #000;
    }

}

.block-caption{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $BaseColor;
    color: #000;
    font-size: 16px;
    border-bottom: 1px solid #000;
    height: 40px;
    width: 100%;
    cursor: pointer;
    font-family: $BaseFont;
    font-size: 18px;    
    text-transform: uppercase;

    @media screen and (max-width:960px) {
        font-size: 15px;
    }
    @media screen and (max-width:620px) {
        border: no;
    }

    
}

.block-menu{
    @media screen and (max-width:960px) {
        &__button{
            position: fixed;
            height: 70px;
            width: 70px;
            top: 100px;
            background-color: #ffcb0e8f;
            left: 20px;
            border-radius: 50%;
            z-index: 1100;
            transition: 0.4s;
            
        }
    }
    @media screen and (max-width:960px) {
        &_active .block-menu__button{
            background-color: transparent;
        }
        &__lines,
        &__lines::before,
        &__lines::after{
            position: absolute;
            background-color: #fff;
            width: 40px;
            height: 6px;

        }
        &__lines{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &::before{
                content: '';
                top: -7px;
                left: 19px;
                width: 25px;
                transform: rotate(45deg);
            }

            &::after{
                content: '';
                top: 7px;
                left: 19px;
                width: 25px;
                transform: rotate(-45deg);
            }

        }

        &_active .block-menu__button,
        &_active .block-menu__lines{
            background-color: transparent;
        
            &::before{
                top: -100px;
                left: 240px;
                transform: rotate(45deg);
                
            }

            &::after{
                top: -100px;
                left: 240px;
                transform: rotate(-45deg);
            }  
        }
    }

    &__nav{
        padding-top: 80px;
        position: fixed;
        z-index: 1000;
        display: flex;
        flex-flow: column;
        height: 100%;
        background-color: #ffcb0ee5;
        overflow-y: auto;
        left: -100%;
        transition: 0.6s;
    }

    &_active .block-menu__nav{
        left: 0;
        width: 320px;
    }

    &__link{
        margin: 10px 0 0 20px;
        padding: 15px 0;
        font-family: $BaseFont;
        font-size: 25px;
        z-index: 20;
        color: #fff;
        font-weight: 600;
    }

    &__overlay{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    &_active .block-menu__overlay{
        display: block;
    }
}

.block-footer{
    position: fixed;
    left: 0px; bottom: 0; 
    // padding: 10px; /* Поля вокруг текста */
    background: $BaseColor;
    color: #fff; 
    width: 100%; 
    z-index: 1200;

    &__ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    &__li{

    }
}

.fa-footer{
    font-size: 30px;
}


